<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%p %d{yyyy-MM-dd HH:mm:ss,SSSZ} [EventTime=%X{EventTime}] [thread=%t] [%X{UserId},%X{TenantId},%X{SessionId},%X{OperationId}] %property{NDC} - %m%n" />
    </layout>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>
